.contact{
    width: 100%;
}
.contact h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-family:
        Shadows Into Light,
        cursive;
    color: rgb(117, 122, 43);
    font-size: 120px;
    display: flex;
    font-weight: 100;
    margin: 0;
    padding-top: 50px;
    text-shadow: 5px 5px 50px rgb(255, 255, 253);
}
.contact-container{
    width: 90%;
    height: 300px;
    display: flex;   
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
  margin-top: 50px;
}
.adress, .phone{
    width: 40%;
    height: 150px;
    background-color: rgb(0, 0, 0);
   padding: 20px;
   font-size: 30px;
    font-family:
        Shadows Into Light,
        cursive;
        color: rgb(154, 155, 155);
}
 .personal{
    
    width: 90%;
    margin: 0 auto;
 }
 .personal-card{
    display: flex;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    font-family:
        Shadows Into Light,
        cursive;
        color: rgb(154, 155, 155);
        align-items: center;
     
 }
 .personal-card img{
    width: 15%;
    border-radius: 50%;
   
 }
 .personal-card p{
    font-size: 25px;
   
    font-size: 30px;
    font-family:
        Shadows Into Light,
        cursive;
        color: rgb(154, 155, 155);
        padding-left: 100px;
 }