.projectscard{
    width: 90%;
    border-radius: 8px;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #535353;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin: 20px auto;
}
.projectscard img{
    width: 400px;
    height: 250px;
    border-radius: 8px;
    margin-right: 20px;
    transition: all 1.5s ease-in-out;
}
.projectscard img:hover{
    transform: scale(1.8) translate(40%);
    transition: all 1.5s ease-in-out;
    border: 5px solid rgb(255, 255, 255);
  
}
.projectscard .discription{
    color: rgb(219, 218, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    font-family: Arial, sans-serif;
    text-align: justify;
    padding: 0 20px;
}