.projectscard{
    border-radius: 8px;
    padding: 15px;
    margin: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #535353;
    display: flex;
}
.projectscard img{
    width: 400px;
    height: 250px;
    border-radius: 8px;
    margin-right: 20px;
}
.projectscard .discription{
    color: rgb(219, 218, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}