.secondhouse {
    display: flex;
    height: auto;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;

    padding: 20px;
    background-color: #3b3b3b;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.secondhouse h2 {
    text-align: center;
    color: #dad9d9;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}