.header {
    width: 100%;
    height: 100px;

    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
}
.header-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 120px;
    justify-content: center;
    padding-left: 220px;
}
.header-list li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(158, 148, 148);
    cursor: pointer;
}
.header-list li a:hover {
    color: rgb(75, 66, 66);
    transition: 0.5s;
}
