.home {
    width: 100%;
    height: 200vh;
    margin: auto;
    display: flex;
    position: relative;
}
.home girl img {
    width:50%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0%;
}
h1 {
    font-family:
        Shadows Into Light,
        cursive;
    color: rgb(126, 124, 124);
    font-size: 120px;
    display: flex;
    position: absolute;
    right: 22%;
    top: 0%;
    z-index: 10;
    padding: 0;
    margin: 0;
    font-weight: 100;
}
.home p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(126, 124, 124);
    font-size: 40px;
    display: flex;
    position: absolute;
    right: 10%;
    top: 15%;
    width: 80%;
    z-index: 10;
    font-family:
        Shadows Into Light,
        cursive;
    font-weight: 800;
    text-align: justify;
    line-height: 1.5;
}
