.home{
    width: 100%;
    height:200vh;
   background-color: black;
    margin: auto;
    display: flex;
    position: relative;

   
}
.home img{
    width: 50%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0%;
}
h1{
    font-family: Shadows Into Light, cursive;
    color: rgb(126, 124, 124);
    font-size: 120px;
    display: flex;
    position: absolute;
    right: 25%;
    top: 0%;
    z-index: 10;
    padding: 0;
    margin: 0;
    font-weight: 100;
}