.home {
    width: 100%;
    height: auto;
   
    position: relative;
}
.girl {
    width: 50%;
    height:165vh;
}
.girl1 {
    width: 50%;
    height: 165vh;
}
h1 {
    font-family:
        Shadows Into Light,
        cursive;
    color: rgb(126, 124, 124);
    font-size: 120px;
    display: flex;
    position: absolute;
    right: 22%;
   
    z-index: 10;
    padding: 0;
    margin: 0;
    font-weight: 100;
}
.home p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(126, 124, 124);
    font-size: 40px;
    display: flex;
    position: absolute;
    right: 5%;
    top: 4%;
    width: 90%;
    z-index: 10;
    font-family:
        Shadows Into Light,
        cursive;
    font-weight: 800;
    text-align: justify;
    line-height: 1.5;
}
    .home-container {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-top: 50px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
      box-shadow:0px 0px 100px 10px #426fc4 inset;
    }
.home-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-family:
        Shadows Into Light,
        cursive;
    color: rgb(117, 122, 43);
    font-size: 120px;
    display: flex;
    font-weight: 100;
    margin: 0;
    padding-top: 50px;
    text-shadow: 5px 5px 50px rgb(255, 255, 253);
    
}

.home-container h5 {
    color: rgb(89, 96, 190);
    font-size: 40px;
    font-family:
        Shadows Into Light,
        cursive;
    font-weight: 800;
    text-align: justify;
    line-height: 1.5;
    width: 90%;
    z-index: 10;
    position: absolute;
    top: 11%;
}
.girl2 {
    width: 100%;
    height: auto;
    margin-top: 90px;
    border-radius: 200px;
    
   
}