.footer {
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: rgb(158, 148, 148);
}
